
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.register-container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(135deg, #002400, #287264, #80c98a);
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-card {
  width: 420px;
  padding: 35px 30px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  border-radius: 20px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.35);
  border: 1px solid rgba(255, 255, 255, 0.2);
}


.title {
  text-align: center;
  color: #f5f5f5;
  font-size: 26px;
  margin-bottom: 30px;
  font-weight: 600;
}


.input-group {
  position: relative;
  margin-bottom: 28px;
  
}


.input-group input {
  width: 100%;
  padding: 10px 5px;
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-size: 15px;
}


.input-group .line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: rgba(255, 255, 255, 0.4);
}


.input-group label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  pointer-events: none;
  transition: 0.3s ease;
}


.input-group input:focus ~ label,
.input-group input:valid ~ label {
  top: -6px;
  font-size: 12px;
  color: #14360b;
}


.input-group input:focus ~ .line {
  background: linear-gradient(90deg, #00d4ff, #04250e);
}


.eye-icon {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 16px;
  opacity: 0.8;
}


.btn-register {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background: linear-gradient(90deg, #b3f0b3, #033111);
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.btn-register:hover {
  opacity: 0.85;
  transform: scale(1.02);
}


input[type="date"] {
  color-scheme: dark;
}


@media (max-width: 480px) {
  .register-card {
    width: 90%;
    padding: 30px 20px;
  }
}
